.container {
  max-width: 768px;
  padding: 0 1rem;
  margin: 0 auto 6rem;
}

.headercontainer {
  display: flex;
  align-items: center;
}

.header {
  /* height:67px; */
  display: flex;
  background-color: #FFD800; 
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.headerdiv {
  width: 1000px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerelements {
  display: inline-flex;
}

.headerfonts {
  display: inline-flex;
}
/* 
.headercontainer div {
  border: 1px solid black;
}

.container div {
  border: 1px solid black;
} */